.app-body {
    margin: 80px;
}

.nav-styles {
    background-color: #1a1b22;
}

.bg-faded {
    background-color: #7b7b7bcf;
}

.nav-styles a {
   color: white;
}

.nav-styles a:hover {
    color: #7ebdb1;
}

a {
    color: white;
}

.nav-link.active {
    color: #CFD11A !important;
}

.dropdown-links a {
    color: black;
}

.dropdown-links a:hover {
    color: #595959;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: #CFD11A;
}

