.app-body {
    margin-top: 80px;
}

.nav-styles {
    background-color: #1a1b22;
}

.bg-faded {
    background-color: #2e1c1f;
}

.nav-styles a {
   color: white;
}

.nav-styles a:hover {
    color: #c9c9c9;
}

.nav-link.active {
    color: #567b3c !important;
}

.dropdown-links a {
    color: black;
}

.dropdown-links a:hover {
    color: #567b3c;
}