.app-body {
    margin: 80px;
}

.nav-styles {
    background-color: #1a1b22;
}

.bg-faded {
    background-color: #7b7b7bcf;
}

.nav-styles a {
   color: white;
}

.nav-styles a:hover {
    color: #6dffdd;
}

a {
    color: white;
}

.nav-link.active {
    color: #7bffe7 !important;
}

.dropdown-links a {
    color: black;
}

.dropdown-links a:hover {
    color: #b06a75;
}